<section class="spotlight">
  <h2>Media Spotlight:</h2>
  <p>
    <span>Example</span>
    <span>by Creator</span>
  </p>

  <p>
    <span>Number votes</span>
    <span> - </span>
    <span>description</span>
  </p>
</section>

<article class="top-ten">
  <section>
    <h2>
      Top Movies
    </h2>
    <p>
      <span>Example Title</span>
      <span>by Creator</span>
      <div class="num_votes">Number votes</div>
    </p>
  </section>

  <section>
    <h2>
      Top Books
    </h2>
    <p>
      <span>Example Title</span>
      <span>by Author</span>
      <div class="num_votes">Number votes</div>
    </p>
  </section>

  <section>
    <h2>
      Top Albums
    </h2>
    <p>
      <span>Example Title</span>
      <span>by Creator</span>
      <div class="num_votes">Number votes</div>
    </p>
  </section>
</article>