<%= render partial: "shared/error", locals: { object: @work} %>

<main>
  <%= render partial: "form", locals: { action_name: "Edit", action_phrase: "Edit this #{@work.category.capitalize}"} %>
</main>